<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Kamingo Consultancy </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="/Animated-Toggle-NavBar-BS5-V2.css">
  <link rel="stylesheet" href="/Features-Centered-Icons-icons.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Sans+JP&family=Oswald:wght@500;600&family=Poppins:wght@300;700&family=Roboto+Mono:wght@400;500&family=Rubik:wght@600&family=Ysabeau+Infant:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="kcs.png">

</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Domine&family=Inclusive+Sans&family=Josefin+Sans:wght@400;700&family=Noto+Sans+JP&family=Oswald:wght@500;600&family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@300;700&family=Roboto+Mono:wght@400;500&family=Roboto+Slab&family=Rubik:wght@600&family=Tajawal:wght@700&family=Ysabeau+Infant:wght@700&display=swap');
</style>


<style>
  .btn {
    border: 2px rgb(255, 255, 255) solid;

    box-shadow: none;
    background-color: dodgerblue;
    color: rgb(255, 255, 255);
    /* border-radius: 0.7rem; */
    height: auto;


  }

  .btn:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px darkcyan solid;
    /* border-radius: 0.7rem; */
    box-shadow: 7px 7px deepskyblue;

  }


  .partners {

    /* color: black;
    border: 2px rgb(219, 219, 219) solid; */

    /* border-radius: 0.7rem; */

  }
</style>

<body>
  <div class="container" style="font-family: 'Plus Jakarta Sans', sans-serif;">

    <%- include('./partials/navbar.ejs') %>
    <div class="row " id="Home" style="height: 85vh; ">
      <div class="col-sm my-auto">
        <h2>We Create</h2>
        <h1 style="font-size: 4rem;">What You Want</h1>

        <h6 class="text-muted">We are Kamingo Consultancy, a company dedicated to providing comprehensive website, app, and database services to businesses and startups. Our expertise lies in delivering tailored solutions that cater to the unique needs of each client. If you have any inquiries or require assistance, feel free to reach out to us.</h6>

        <div class="my-3">
          <!-- <a class="btn me-2  btn-lg" style="font-size: 1.5rem;">Start</a> -->
          <a class="btn me-2  btn-lg btn-primary  " href="/contactus" style="font-size: 1.5rem;">Contact Us</a>

        </div>
      </div>
      <div class="col-sm my-auto">
        <img src="websitepicto.png" alt="" srcset="" style="object-fit: scale-down; width: 100%;">
      </div>
    </div>
    <hr>
    <div class="row" style="margin-top: 3rem; margin-bottom: 3rem; ">
      <%- include('./partials/services.ejs') %>
    </div>
    
    <div class="row  partners border bg-dark rounded-5 p-3 " id="partners" style="">
      <%- include('./partials/partners.ejs') %>
    </div>

    

    <div class="row " id="created" style="margin-top: 3rem;">
      <div class="col-sm my-auto text-center">
        <h2>What WE</h2>
        <h1 style="font-size: 4rem;">Created</h1>

        <div class="row text-center d-flex my-5  ">
          <div class="col-md-4  " >
            <img src="https://play-lh.googleusercontent.com/SBwtJyAWEddFgp0Yo9KVuMdwOUnGQBUrekKvJCVHRP46GOKlDOWnGhfiy6Ifzp7JUA=w240-h480" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
            <h5>Bundeli Kissan</h5>
            <p class="text-muted">We developed "Bundeli Kissan" for the Madhya Pradesh government, aiming to support farmers, and it has garnered over 10,000 downloads on the Play Store. We're proud to contribute to the welfare of farmers in the region.</p>

            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <div class="col-md-4  ">
            <img src="https://cdn.pixabay.com/photo/2020/08/13/10/24/play-5484786_960_720.png" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
            <h5>Video</h5>
            <p class="text-muted">We Provided video edditing services to many content creators</p>

            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>
          <div class="col-md-4  " >
            <img src="saas2.png" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
            <h5>Saas's</h5>
            <p class="text-muted">We have successfully developed SaaS applications for banks, empowering them to efficiently manage accounts and enhance their operations. Our tailored solutions aim to streamline banking processes and contribute to improved account management for financial institutions.</p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>


        </div>



        <div class="row text-center d-flex my-5  ">
          <div class="col-sm-12 col-md-4">
            <img src="kalug.jpg" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
            <h5>Kalyug Ka Kurukshetra</h5>
            <p class="text-muted">We specialize in providing comprehensive website solutions for establishing Kalyug's online presence. Our services encompass design, development, and optimization to ensure a robust and engaging digital platform that effectively represents Kalyug.</p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <div class="col-sm-12 col-md-4">
            <img src="https://play-lh.googleusercontent.com/qLjPN-3Dv1PSHcSojDrK2gK7XOcNNfV0iYYKxQh2zf1QalCK00qV8fF46MYoO-YuzNfU=w240-h480" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
            <h5>Kamingo App</h5>
            <p class="text-muted">We have designed and developed the Kamingo App, which connects customers with a variety of local services. Our app offers a convenient way for users to access and engage with different service providers, enhancing their overall experience and meeting their needs effectively.</p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <div class="col-sm-12 col-md-4">
            <img src="https://png.pngtree.com/element_our/md/20180626/md_5b321c98efaa6.jpg" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
            <h5>WhatsApp Bots</h5>
            <p class="text-muted">Our offerings include WhatsApp bot-related services, allowing businesses to leverage automated interactions on the WhatsApp platform. These bots can enhance customer engagement, provide instant support, and streamline various processes, contributing to a more efficient and effective communication strategy.</p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>
        </div>
      </div>

    </div>

    
    <div class="row  partners " id="partners" style="">
      <%- include('./partials/chooseus.ejs') %>
    </div>

    
    <div class="row " style="margin-top: 5rem; margin-bottom: 5rem;" id="aboutus">

      <%- include('./partials/aboutus.ejs') %>

    </div>
   
    <div class="row " style="margin-top: 5rem; " id="developer">

      <%- include('./partials/developers.ejs') %>

    </div>
    <hr>
    <div class="row " style="margin-top: 3rem;" id="aboutus">

      <%- include('./partials/connect.ejs') %>

    </div>

    




  </div>
  <%- include('./partials/socialmedia.ejs') %>





</body>








<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>


</html>